    <script
      type="text/javascript"
      src="//platform.twitter.com/widgets.js"
    ></script>
    <script src="../js/src/alert.js"></script>
    <script src="../js/src/button.js"></script>
    <script src="../js/src/carousel.js"></script>
    <script src="../js/src/collapse.js"></script>
    <script src="../js/src/index.js"></script>
    <script src="../js/src/modal.js"></script>
    <script src="../js/src/popover.js"></script>
    <script src="../js/src/popover.js"></script>
    <script src="../js/src/scrollspy.js"></script>
    <script src="../js/src/tab.js"></script>
    <script src="../js/src/toast.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>