<!DOCTYPE html>
<%- include ('header', {title: "Submit a Sighting"}) %>
  <body>
    <%- include ('navbar')%>
    <main class="my-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="card-header">Submit your UFO Sighting</div>
                    <div class="card justify-content-center align-items-center">
                        <div class="card-body">
                            <form action="/sighting"
        name="form"
        onsubmit= "return putDate(this)"
        method="POST">
                                <div class="form-group row">
                                    <label for="text" class="col-md-4 col-form-label text-md-right">Description</label>
                                    <div class="col-md-8">
                                        <textarea id="text" name="text" class = "form-control" rows="10" cols= "50"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="date_time" class="col-md-4 col-form-label text-md-right">Date</label>
                                    <div class="col-md-8">
                                        <input  type="date"
          id="date_time"
          name="date_time" class = "form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="city" class="col-md-4 col-form-label text-md-right">City</label>
                                    <div class="col-md-8">
                                        <input type="text" id="city" name="city" class = "form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="state" class="col-md-4 col-form-label text-md-right">State</label>
                                    <div class="col-md-8">
                                        <input type="text" id="state" name="state" class="form-control">
                                    </div>
                                </div>

                                 <div class="form-group row">
                                    <label for="shape" class="col-md-4 col-form-label text-md-right">Shape of UFO</label>
                                    <div class="col-md-8">
                                        <input type="text" id="shape" class="form-control" name="shape">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="duration" class="col-md-4 col-form-label text-md-right">Duration (in minutes)</label>
                                    <div class="col-md-8">
                                        <input type="number"
          id="duration"
          name="duration"
          min="1"
          max="600" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="summary" class="col-md-4 col-form-label text-md-right">Short Summary</label>
                                    <div class="col-md-8">
                                        <textarea id="summary" class="form-control" name="summary" rows="3" cols= "50"></textarea>
                                    </div>
                                </div>
<input name="date" type="hidden" /><br />
                                    <div class="col-md-8 offset-md-4">
                                        <button type="submit" class="btn btn-primary" value="Submit" onclick="return validform()">
                                        Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.js" integrity="sha512-z8IfZLl5ZASsWvr1syw5rkpo2HKBexjwzYDaUkIfoWo0aEqL/MgGKniDouh5DmsD9YrisbM+pihyCKIHL9VucQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>      
    const putDate = function (form) {
        form.date.value = moment().format("dddd, MMMM Do, YYYY")
      };

      let today = new Date().toISOString().split("T")[0];
      document.getElementsByName("date_time")[0].setAttribute('max', today);

      const validform = function () {
  const a = document.forms['form'].text.value;
  const b = document.forms['form'].date_time.value;
  const c = document.forms['form'].city.value;
  const d = document.forms['form'].state.value;
  const e = document.forms['form'].shape.value;
  const f = document.forms['form'].duration.value;
  const g = document.forms['form'].summary.value;

  if (a === null || a === '')
  {
    alert('Please provide a description!');
    return false;
  } if (b === null || b === '')
  {
    alert('Please enter a date and time of the sighting!');
    return false;
  } if (c === null || c === '')
  {
    alert('Please enter the city where the UFO was sighted!');
    return false;
  } if (d === null || d === '')
  {
    alert('Please enter the state where the UFO was sighted!');
    return false;
  } if (e === null || e === '')
  {
    alert('Please give the shape of the UFO!');
    return false;
  }
  if (f === null || f === '')
  {
    alert('Please enter the duration of the UFO sighting!');
    return false;
  }
  if (g === null || g === '')
  {
    alert('Please give a short summary of the UFO sighting!');
    return false;
  }
 
};

      </script>

    <script
      type="text/javascript"
      src="//platform.twitter.com/widgets.js"
    ></script>
  </body>
</html>

