<div
  class="navbar navbar-inverse"
  style="
    background-color: #bbbbbb;
    position: absolute;
    top: 0;
    width: 100%;
    height: 2%;
    justify-content: flex-start;
  "
>
  <a class="brand" style="color: black; font-size: 180%">UFO SIGHTINGS</a>
  <div class="navbar-inner">
    <ul class="nav" id="navList">
      <li class="active">
        <a href="/" class="nav-link active black">INDEX</a>
      </li>
      <li><a href="../sighting" class="nav-link black">SUBMIT A SIGHTING</a></li>
      <li><a href="../shapes" class="nav-link black">SHAPES</a></li>
  </div>
  <div class = "pull-right">
    <ul class ="nav navbar-nav">
    <a class="copyright-text brand" style="color: black;">
      © 1983 HACKERCORP
    </a>
  </div>
</div>
