<!DOCTYPE html>
<%- include ('header', {title: "Shapes"}) %>
  <body>
    <%- include ('navbar')%>
     <h1  class = "header-text" style="text-align: center">A COLLECTION OF UFO SHAPES, CLICK ON THEM TO SEE WHICH SIGHTINGS HAVE THAT SHAPE</h1>
    <div class = "container justify-content-center">
      <% shapes.forEach((shape) => { %>
        <div class = "info-box page-header">
<a href="/shapes/<%=shape.toLowerCase()%>" class="seperated"><%=shape%></a>
</div>
      <% }) %>
      </div>
 
    <script
      type="text/javascript"
      src="//platform.twitter.com/widgets.js"
    ></script>
  </body>
</html>
